@tailwind base;
@tailwind components;
@tailwind utilities;

.section::after {
  content: 'Drag and drop here';
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 10px;
  left: 0;
}

@layer components {
  .wrapper > div:not(:last-of-type) {
    @apply flex flex-col gap-5 mb-4;
  }
}
